
 
 body {
    background-color:
lightblue;
    color: black
    
    
}@media only screen and (max-width: 1000px) {
    body {
      background-color: lightblue;
      color:blue
     }
   }
    
    
   @media only screen and (max-width: 800px) {
      body {
        background-color: rgb(162, 206, 204);
        color:darkslategrey
      }
    }
    
    @media only screen and (max-width: 600px) {
      body {
        background-color: lightblue;
        color:black
      }
    }
    body {
      font-family: "Times New Roman", Times, serif;
      
    }
    h1{
      text-align: center;
    }
  
    img {
      max-width: 200%;
      height: auto;
    }
    
   