 body {
    background-color:
lightblue;
    color: black
    
    
}@media only screen and (max-width: 1000px) {
    body {
      background-color: lightblue;
      color:blue
     }
   }
    
    
   @media only screen and (max-width: 800px) {
      body {
        background-color:gray;
        color:black
      }
    }
    
    @media only screen and (max-width: 600px) {
      body {
        background-color: lightblue;
        color:darkred
      }
    }
    body {
      font-family: "Times New Roman", Times, serif;
      
    }
    h1{
      text-align: center;
    }
  
          